<!DOCTYPE html>
<!--[if IE 8]>
<html id="ie8" dir="ltr" lang="en-US">
<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style> 
        	.table{
        		background: #fff;
        	}
        	.table th{
        		text-align: center;
        	}
        	.table tr input{
        		width: 96%;
        		margin: 0;
        	} 
       	</style>
    </head>
    <body>

	    <div id="navbar" class="navbar navbar-fixed-top">
	        <div class="navbar-inner">
	            <div class="container">
                    <button type="button" class="btn btn-navbar">
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			        </button>          
	                <a class="brand" href="#">Cryptography I</a>   
	                <div class="nav-collapse collapse">
			            <ul class="nav">
			              	<li><a href="hex_xor.html">XOR-HEX</a></li>
			              	<li><a href="cbc.html">CBC</a></li>
			              	<li class="active"><a href="ctr.html">CTR</a></li>
			            </ul>
			         </div>             
	            </div>
	        </div>
	    </div> 

	    <div class="container hero-unit" style="margin-top: 50px; text-align: center;">
	    	<h3>CTR decrypt</h3>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Key</th>
						<th>Crypt text</th>                  
					</tr>
				</thead>
				<tbody>
					<tr>
						<td><input type="text" readonly value="36f18357be4dbd77f050515c73fcf9f2"></td>
						<td><input type="text" readonly value="69dda8455c7dd4254bf353b773304eec0ec7702330098ce7f7520d1cbbb20fc388d1b0adb5054dbd7370849dbf0b88d393f252e764f1f5f7ad97ef79d59ce29f5f51eeca32eabedd9afa9329"></td>                  
					</tr>
					<tr>
						<td><input type="text" readonly value="36f18357be4dbd77f050515c73fcf9f2"></td>
						<td><input type="text" readonly value="770b80259ec33beb2561358a9f2dc617e46218c0a53cbeca695ae45faa8952aa0e311bde9d4e01726d3184c34451"></td>
					</tr>             
				</tbody>
            </table>

	    	<div class="control-group">
			    <label class="control-label" for="key">key</label>
			    <div class="controls">
			      <input type="text" class="span12" id="key" placeholder="key" value="36f18357be4dbd77f050515c73fcf9f2">
			    </div>
			</div>
			<div class="control-group">
			    <label class="control-label" for="ct">Ciphertext</label>
			    <div class="controls">
			      <input type="text" class="span12" id="ct" placeholder="ct" value="770b80259ec33beb2561358a9f2dc617e46218c0a53cbeca695ae45faa8952aa0e311bde9d4e01726d3184c34451">
			    </div>
			</div>
			<h4 id="plainText"></h4>
			<a href="#" class="btn" id="atoh">decrypt</a>			
	    </div>

        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/lib/jquery-1.9.1.min.js"><\/script>')</script>        
        <script src="js/lib/sjcl.js"></script>        
        <script src="js/byte.js"></script>        
        <script src="js/ctr.js"></script>
    </body>
</html>
